---
title: Blockark
description: descriptions.blockark
layout: default
---
<header style="background-color: #fff">
  <div class="container">
    <div class="row is-gapless">
      {% if page.title != "Blockark" %}
      <button class="btn btn-secondary p-1 m-2" onclick="goBack()">{% t global.back %}</button>
      {% endif %}
      <div style="width:80%" class="p-2 pt-3">
          <h3 style="margin-top:8px; font-size: 26px">{% t global.title %}</h3>
      </div>
      <div style="width:20%" class="p-2  text-right">
        {% if site.lang == "de" %}
           <a href="{{ site.baseurl_root }}{{ page.url}}"><img src="https://www.countryflags.io/GB/flat/64.png"></a>
        {% else %}
           <a href="{{ site.baseurl_root }}/de{{ page.url}}"><img src="https://www.countryflags.io/DE/flat/64.png"></a>
        {% endif %}
      </div>
    </div>
  </div>
</header>


    <div class="container mt-3">
      {% if site.lang == "de" %}
        {% include bundle-starter-set.html %}
      {% endif %}
      {% include bundle.html %}
      {% include steelwallet-halving.html %}
      {% include products.html %}
    </div>
