---
title: Blockark
description: Steelwallet producer and BitBox reseller for the EU
layout: default
---
{% include header.html question="What are you looking for?" %}

    <div class="container mt-3">
      <div class="columns">
        <div class="column" >
          <div class="card m-2" style="width: auto; min-height:50vw">
            <img class="card-img-top" data-wow-delay=".3s" src="{{ '/img/Metall_pu_fin.jpeg ' | relative_url }}" alt="" style="height:auto" />
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">Steelwallet</h3>
              <h5 class="card-title">Metal backup tool</h5>
              <li class="list-group-item">Allows you to easily punch your seed into sheets of stainless steel in order to protect your seed against fire, water and other natural disasters.</li>
              <li class="list-group-item">From 54 EUR</li>
              <a href="{{ site.baseurl }}{% link steelwallet.html %}" class="btn btn-secondary mt-2">How do I use a Steelwallet?</a>
              <a href="{{ site.baseurl }}{% link options/steelwallet-puncher.html %}" class="btn btn-primary  mt-2">Continue</a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card m-2" style="width: auto;  min-height:50vw">
            <img class="card-img-top" data-wow-delay=".3s" src="{{ '/img/02_bb02_laptop-thumbnail-1080x1080.png ' | relative_url }}" alt="" style="height:auto" />
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">BitBox02</h3>
              <h5 class="card-title">Hardware wallet</h5>
              <li class="list-group-item">Swiss-made hardware wallets. Fully open-source with dual-chip architecture to protect your coins while making it easy to manage them.</li>
              <li class="list-group-item">From 99 EUR</li>
              <a href="https://guides.shiftcrypto.ch/bitbox02/setup/" target="_blank" class="btn btn-secondary mt-2">How do I use a BitBox02?</a>
              <a href="{{ site.baseurl }}{% link options/bitbox02-editions.html %}" class="btn btn-primary mt-2">Continue</a>
            </div>
          </div>
        </div>
      </div>
      {% include bundle.html %}
    </div>
