---
title: Steelwallet
description: descriptions.sw
layout: default
---
<header style="background-color: #fff">
  <div class="container">
    <div class="row is-gapless">
      {% if page.title != "Blockark" %}
      <button class="btn btn-secondary p-1 m-2" onclick="goBack()">{% t global.back %}</button>
      {% endif %}
      <div class="column p-2"  >
          <h3 style="margin-top:8px">{% t steelwallet.what_question %}</h3>
      </div>
    </div>
  </div>
</header>

<style>
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    min-width: 100px;
}
</style>
<div style="width: 100%; height: auto;  position: fixed; bottom: 0; right: 0; z-index: 100">
  <div id="wider" style=" margin-left: auto; margin-right: auto">
    <a style="margin-top: 0.7em; margin-bottom: 0.7em; margin-left: auto; margin-right: auto; " class="button is-primary" href="{{ site.baseurl }}{% link options/steelwallet-puncher.html %}">{% t global.get_yours %}</a>
  </div>
</div>

<div class="container">
<div class="card-small">
<div class="columns is-gapless">
<div class="column mt-4 mb-2">
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube-nocookie.com/embed/JhLdNfFhW4k' frameborder='0' allowfullscreen></iframe></div>
</div>
</div>
</div>
</div>




<div class="container">
<img class="mobile-only" src="{{ '/img/Metallplatte_001fin.png' | prepend: site.baseurl_root }}">
<div class="columns is-gapless">
<div class="column" style="background-image: url({{ '/img/Metallplatte_001fin.png' | prepend: site.baseurl_root }}); background-size: auto 100%; background-repeat: no-repeat; background-position: center center;"></div>
<div class="column">
<div class="block has-text-white">
<p class="block-sub-title">{% t steelwallet.what_question %}</p>
<ul>
<li>{% t steelwallet.what.what1 %}</li>
<li>{% t steelwallet.what.what2 %}</li>
<li>{% t steelwallet.what.what3 %}</li>
</ul>
</div>
</div>
</div>
</div>

<div class="container">
<div class="card-small">
<div class="columns is-gapless">
<div class="column area--white">
<div class="block">
<p class="block-sub-title">{% t steelwallet.box_question %}</p>
<img class="mobile-only" src="{{ '/img/Metallplatte_008fin.png' | prepend: site.baseurl_root }}">
<ul>
  <li>{% t steelwallet.box.box1 %}</li>
  <li>{% t steelwallet.box.box2 %}</li>
</ul>
</div>
</div>
<div class="column area--white" style="background-image: url({{ '/img/Metallplatte_008fin.png' | prepend: site.baseurl_root }}); background-size: auto 100%; background-repeat: no-repeat; background-position: center center;"></div>
</div>
</div>
</div>
<div class="container">
<div class="columns is-gapless">
<div class="column">
<div class="block has-text-white">
<p class="block-sub-title">{% t steelwallet.withstand_question %}</p>
<ul>
<li>{% t steelwallet.withstand.fire %}</li>
<li>{% t steelwallet.withstand.water %}</li>
<li>{% t steelwallet.withstand.corrosion %}</li>
<li>{% t steelwallet.withstand.electricity %}</li>
<li>{% t steelwallet.withstand.read %} <a target="_blank"href="https://blog.lopp.net/metal-bitcoin-seed-storage-stress-test--part-ii-/">{% t steelwallet.withstand.test %}</a> </li>
<li style="font-size: 10px">{% t steelwallet.withstand.limits %}</li>
</ul>
</div>
</div>
</div>
</div>


<div class="container">
<div class="columns is-gapless"">
<div class="card-small mb-2">

<div class="columns is-gapless">
  <div class="column area--white">
    <div class="block area--white">
    <h4 class="block-sub-title pb-2">{% t steelwallet.setup_question %}</h4>
  </div>
</div>
</div>

<section id="step1">
<div class="columns is-gapless">
  <div class="column area--white" style="background-image: url({{ '/img/Seed_1.png ' | prepend: site.baseurl_root }}); background-size: auto 70%; background-repeat: no-repeat; background-position: center center;"></div>
<div class="column">
<div class="block area--white">
<p class="block-sub-title">{% t steelwallet.setup.step1_title %}</p>
<img class="mobile-only" src="{{ '/img/Seed_1.png' | prepend: site.baseurl_root }}">
<p>{% t steelwallet.setup.step1 %}</p>
</div>
</div>
</div>
</section>

<section id="step2">
<div class="columns is-gapless">
<div class="column area--white" style="background-image: url({{ '/img/Metall_dotted_white.jpeg ' | prepend: site.baseurl_root }}); background-size: auto 100%; background-repeat: no-repeat; background-position: center center;"></div>
<div class="column">
<div class="block area--white">
<p class="block-sub-title">{% t steelwallet.setup.step2_title %}</p>
<img class="mobile-only" src="{{ '/img/Metall_dotted_white.jpeg ' | prepend: site.baseurl_root }}">
<p>{% t steelwallet.setup.step2 %}</p>
</div>
</div>
</div>
</section>


<section class="bg--white" id="step3">
<div class="columns is-gapless">
<div class="column area--white"></div>
<div class="column">
<div class="block area--white">
<p class="block-sub-title">{% t steelwallet.setup.step3_title %}</p>
<p>{% t steelwallet.setup.step3 %}</p>
</div>
</div>
</div>
</section>


<section class="bg--white" id="step4">
<div class="columns is-gapless">
<div class="column area--white" style="background-image: url({{ '/img/Metall_pu_fin.jpeg' | prepend: site.baseurl_root }}); background-size: auto 100%; background-repeat: no-repeat; background-position: center center;"></div>
<div class="column ">
<div class="block area--white">
<p class="block-sub-title">{% t steelwallet.setup.step4_title %}</p>
<img class="mobile-only" src="{{ '/img/Metall_pu_fin.jpeg' | prepend: site.baseurl_root }}">
<p>{% t steelwallet.setup.step4 %}</p>
</div>
</div>
</div>
</section>

<section class="bg--white" id="step5">
<div class="columns is-gapless">
<div class="column area--white"></div>
<div class="column">
<div class="block area--white">
<p class="block-sub-title">{% t steelwallet.setup.step5_title %}</p>
<p>{% t steelwallet.setup.step5 %}</p>
</div>
</div>
</div>
</section>

</div>
</div>
</div>



{% include faq.html %}
