---
title: Hardware wallets
layout: default
---
{% include header.html question="Choose your type of hardware wallet?" description="We recommend the BitBox02 as it is more secure and easier to use." %}

    <div class="container mt-3">
      <div class="columns">
        <div class="column">
          <div class="card m-2" style="width: auto;  min-height:70vw">
            <div class="p-5">
            <img src="https://shiftcrypto.ch/assets/images/products/bb01_hero_web.png" class="card-img-top" alt="" style="height:auto;width:auto">
            </div>
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">BitBox01</h3>
              <li class="list-group-item">No display</li>
              <li class="list-group-item">BTC, LTC, ETH, ECR-20, U2F</li>
              <li class="list-group-item">Automatic wallet backup on microSD</li>
              <li class="list-group-item">Touch LED button</li>
              <li class="list-group-item">Dual-chip architecture</li>
              <li class="list-group-item">Open-source firmware</li>
              <li class="list-group-item">Developed and manufactured in Siwtzerland</li>
              <li class="list-group-item">49 EUR</li>
              <a href="https://shop.blockark.de/bitbox" class="btn btn-primary mt-auto">Next</a>
            </div>
          </div>
        </div>
        <div class="column" >
          <div class="card m-2" style="width: auto; min-height:70vw">
            <div class="p-5">
            <img src="https://shiftcrypto.ch/assets/images/products/bb02-render-left.png" class="card-img-top" alt="" style="height:auto">
            </div>
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">BitBox02</h3>
              <li class="list-group-item">OLED Display</li>
              <li class="list-group-item">BTC, LTC, ETH, ECR-20, U2F</li>
              <li class="list-group-item">Automatic wallet backup on microSD</li>
              <li class="list-group-item">Touch sensors</li>
              <li class="list-group-item">Dual-chip architecture</li>
              <li class="list-group-item">Open-source firmware</li>
              <li class="list-group-item">Developed and manufactured in Siwtzerland</li>
              <li class="list-group-item">99 EUR</li>
              <a href="/quiz/hw_2/" class="btn btn-primary  mt-auto">Next</a>
            </div>
          </div>
        </div>
      </div>
      {% include bundle.html %}


    </div>
