---
title: Hardware wallets - BitBox02
layout: default
---
{% include header.html question="Which version do you want?" description="If you are not sure we recommend to go with the Multi version." %}

    <div class="container mt-3">
      <div class="columns">
        <div class="column">
          <div class="card m-2" style="width: auto;  min-height:55vw">
            <div class="p-2">
            <img src="https://shop.shiftcrypto.ch/media/__sized__/products/01_bb02_render-thumbnail-1080x1080.png" class="card-img-top" alt="" style="height:auto;width:auto">
            </div>
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">BitBox02 Multi edition</h3>
              <li class="list-group-item">BTC, LTC, ETH, ECR-20</li>
              <li class="list-group-item">U2F support</li>
              <li class="list-group-item">Developed and manufactured in Siwtzerland</li>
              <li class="list-group-item">99 EUR</li>
              <a href="https://shop.blockark.de/products/bitbox02-multi-edition-hardware-wallet" class="btn btn-primary mt-auto">Next</a>
            </div>
          </div>
        </div>
        <div class="column" >
          <div class="card m-2" style="width: auto; min-height:55vw">
            <div class="p-2">
            <img src="https://shop.shiftcrypto.ch/media/__sized__/products/01_bb02_B_render-thumbnail-1080x1080.png" class="card-img-top" alt="" style="height:auto">
            </div>
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">BitBox02 Bitcoin-only edition</h3>
              <li class="list-group-item">Bitcoin only</li>
              <li class="list-group-item">Reduced attack surface for Bitcoin-only hodlers</li>
              <li class="list-group-item">Developed and manufactured in Siwtzerland</li>
              <li class="list-group-item">99 EUR</li>
              <a href="https://shop.blockark.de/products/bitbox02-hardware-wallet-2" class="btn btn-primary  mt-auto">Next</a>
            </div>
          </div>
        </div>
      </div>
      {% include bundle.html %}


    </div>
