<div class="columns">
  <div class="column">
    <div class="card m-2" style="width: auto">
      <h3 class="p-3">Recommended for beginners:</h3>
      <div class="grid-container" style="display:grid;margin:auto;grid-template-columns: auto auto">
          <img src="/img/Metall_pu_fin.jpeg" class="" alt="" style="height:auto">
          <img src="/img/02_bb02_laptop-thumbnail-1080x1080.png" class="" alt="" style="height:auto">
      </div>
      <div class="card-body d-flex flex-column">
        <h3 class="card-title">Starter set bundle</h3>
        <li class="list-group-item">Cointains: 1x BitBox02 hardware wallet and 1x Steelwallet metal backup tool</li>
        <li class="list-group-item">Allows you to easily punch your seed into sheets of stainless steel in order to protect your seed against fire, water and other natural disasters.</li>
        <li class="list-group-item">From 139 EUR</li>
        <a href="#" class="btn btn-primary">Next</a>
      </div>
    </div>
  </div>
</div>
