  <div class="container">
    <div class="card">
      <div class="block__inner">
      <section class="section faq-section" id="faq-bitbox">
        <h2>{% t steelwallet.faq.title %}</h2>
        <ul class="accordian">
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">{% t steelwallet.faq.question1 %}</a>
            <div class="inner">
              <p>{% t steelwallet.faq.answer1 %}</p>
            </div>
          </li>
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">{% t steelwallet.faq.question2 %}</a>
            <div class="inner">
              <p>{% t steelwallet.faq.answer2 %}</p>
            </div>
          </li>
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">{% t steelwallet.faq.question3 %}</a>
            <div class="inner">
              <p>{% t steelwallet.faq.answer3 %}</p>
            </div>
          </li>
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">{% t steelwallet.faq.question4 %}</a>
            <div class="inner">
              <p>{% t steelwallet.faq.answer4 %}</p>
            </div>
          </li>
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">{% t steelwallet.faq.question5 %}</a>
            <div class="inner">
              <p>{% t steelwallet.faq.answer5 %}</p>
            </div>
          </li>
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">{% t steelwallet.faq.question6 %}</a>
            <div class="inner">
              <p>{% t steelwallet.faq.answer6 %} <a target="_blank" href="https://blog.lopp.net/metal-bitcoin-seed-storage-stress-test--part-ii-/">{% t steelwallet.faq.answer6b %}</a></p>
          </li>
        </ul>
      </section>
    </div>
    </div>
  </div>
