  <div class="container">
    <div class="card">
      <div class="block__inner">
      <section class="section faq-section" id="faq-bitbox">
        <h2>Steelwallet FAQs:</h2>
        <ul class="accordian">
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">What types of private keys can be stored using Steelwallet?</a>
            <div class="inner">
              <p>Steelwallet currently supports the BIP-39 standard which allows you to store 12,18 and 24 word seeds on your Steelwallet. The words on the BIP-39 word list are chosen so that there is only one possible word if you know the first four letters of that word. It is impossible that there are multiple words that start with the same four letters. That’s why you only need (and only can) punch the first 4 letters of word of your seed onto your Steelwallet.<br></p>
            </div>
          </li>
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">What happens if my Steelwallet gets stolen?</a>
            <div class="inner">
              <p>For obvious reason you should try to avoid that at all cost. If it contrary to expectations gets stolen anyway you should immediately withdraw your funds from your hardware wallet and transfer it to a new one that has a different seed. We recommend using a dedicated hardware wallet like BitBox, Trezor, Ledger etc.  If you don’t have one at hand when you need to transfer your funds (in case of a stolen Steelwallet then we recommend transferring your funds to a software wallet and send them onto a hardware wallet as soon as you have one. You may find a more detailed version of how to do so at the webpage of your device manufacturer.<br></p>
            </div>
          </li>
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">How do I recover my data protected by Steelwallet?</a>
            <div class="inner">
              <p>In case you need to recover your wallet with your seed which is stored on your Steelwallet, you should do so without leaking it. That means that you should not type in your seed into a software-wallet on your computer or smartphone or any other device which is connected to the internet. By doing so you risk leaking your seed and thereby the theft of your funds due to the likelihood of viruses, key-loggers and malware installed on such devices.  We recommend typing in your seed on a hardware-wallet like BitBox, Trezor, Legder....</p>
            </div>
          </li>
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">Where should I store my Steelwallet and where should I better not keep it?</a>
            <div class="inner">
              <p>You should keep it in a secure place only you know about. This can be anything from a safe, to a bank locker or bury it in your backyard. Anything is possible, since it’s made out of stainless steel it is very resistant to weather conditions.  For increases security we recommend you to split your Steelwallet and store the plates in different locations. That ensures that even if one sheet is found, the attacker does not have access to your funds.  However, you should still transfer  your funds to a new wallet if you know that one of your sheets has been compromised.<br></p>
            </div>
          </li>
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">What happens if the company behind Steelwallet shuts their doors?</a>
            <div class="inner">
           <p>Although we hope that won’t ever happen, nothing would change for you. Your seed, still is and will be safely stored on your Steelwallet for a very long time and you could get new sheets made yourself. </p>
            </div>
          </li>
          <li>
            <a class="accordian-toggle has-text-black" href="javascript:void(0);">Are there any tests on how resistant Steelwallet is?</a>
            <div class="inner">
              <p>Yes, Jameson Lopp published a great <a target="_blank" href="https://blog.lopp.net/metal-bitcoin-seed-storage-stress-test--part-ii-/">article</a>, comparing a wide variety of tools. The article can be found <a target="_blank" href="https://blog.lopp.net/metal-bitcoin-seed-storage-stress-test--part-ii-/">here</a>. He comes to the following conclusion: "With these considerations in mind, I’d suggest that Blockplate and Steelwallet seem to be the most robust and simple options."</p>
            </div>
          </li>
        </ul>
      </section>
    </div>
    </div>
  </div>
