<footer id="footer">
  <div class="container">
    <div class="inner-wrap">
      <div class="columns">

      </div>
      <div class="columns">
        <div class="column is-4">
          <p>

          </p>
        </div>
        <div class="column">
          <nav class="partner-nav footer-nav">
            <h4 class="has-text-white">Partner</h4>
            <ul>
             <!-- <li>
                <a href="/resellers" class="has-text-white">Resellers</a>
              </li> -->
             <!-- <li>
                <a href="/policies#affiliate" class="has-text-white">Affiliate</a>
              </li> -->
              <li>
                <a href="/" class="has-text-white">Resellers</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="column">
          <nav class="product-nav footer-nav">
            <h4 class="has-text-white">Use</h4>
            <ul>
              <li>
                <a href="/" class="has-text-white">Shop</a>
              </li>
              <li>
                <a href="/start" class="has-text-white">How it works</a>
              </li>

                 <li>
                <a href="mailto:info@blockark.de" class="has-text-white" target="_blank">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="column">
          <nav class="policies-nav footer-nav">
            <h4 class="has-text-white">Legal
              </h4>
            <ul>
              <li>
                <a class="has-text-white" href="https://shop.blockark.de/pages/cancellation">Cancellation</a>
              </li>
              <li>
                <a class="has-text-white" href="https://shop.blockark.de/pages/privacy">Privacy Policy</a>
              </li>
                 <li>
                <a class="has-text-white" href="https://shop.blockark.de/pages/shipping">Shipping</a>
              </li>
              <li>
                <a class="has-text-white" href="https://shop.blockark.de/pages/terms">Terms</a>
              </li>

            <li>
                <a class="has-text-white" href="https://shop.blockark.de/pages/legal-notice">Imprint</a><br>
              </li>
            </ul>
          </nav>
        </div>
        <div class="column right-column">
          <nav class="social-nav">
            <ul class="flex flex-row flex-wrap">


            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- JavaScript -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiN1ALaHw8b0sjpLaFCBRDOAMzYGw8ew4"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/referral.js"></script>
<script src="js/page_v4.js"></script>
<script src="js/custom_page.js"></script>
