<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Steelwallet | Your seed for eternity">
<meta name="author" content="Blockark">
<meta property="og:url"           content="https://steel-wallet.de" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Steelwallet | Your seed for eternity" />
<meta property="og:description"   content="Steelwallet | Your seed for eternity" />
<meta property="og:image"         content="https://steel-wallet.de/img/Steelwallet-OG" />
<meta property="og:image:type"    content="image/png" />

<link rel="icon" type="image/png" href="img/fav/SW_fav_32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="img/fav/SW_fav_16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="img/fav/SW_fav_128x128.png" sizes="128x128" />

<!-- CSS -->
<link rel="stylesheet" href="css/custom_bulma_v7.css">


<!-- Global site tag (gtag.js) - Google Analytics -->




<!--DESKPRO_WIDGET_LOADER::BEGIN
<script type="text/javascript">
window.DESKPRO_WIDGET_OPTIONS = {
    "helpdeskUrl": "https:\/\/shiftcrypto.deskpro.com\/",
     "language": 2
};
</script>
<script type="text/javascript" id="dp-widget-loader" src="https://shiftcrypto.deskpro.com/dyn-assets/pub/build/widget_loader.min.js"></script>
<!--DESKPRO_WIDGET_LOADER::END-->



<script>
window.onload = function(){
    document.getElementById('close').onclick = function(){
        this.parentNode.parentNode.parentNode
        .removeChild(this.parentNode.parentNode);
        return false;
    };
};
</script>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#343c66",
      "text": "#cfcfe8"
    },
    "button": {
      "background": "transparent",
      "border": "#f00b0b",
      "text": "#f00b0b"
    }
  },
  "position": "bottom-left",
  "content": {
    "message": "This website uses cookies. By continuing to use this website you agree to the use of cookies. For further information visit our",
    "dismiss": "I agree",
    "link": "Privacy Policy",
    "href": "https://steel-wallet.de/policies_EN#Datenschutz"
  }
})});
</script>



<!--
<script>
 close = document.getElementById("close");
 close.addEventListener('click', function() {
   note = document.getElementById("note");
   note.style.display = 'none';
 }, false);
</script>

<script>
 close = document.getElementById("close");
 close.addEventListener('click', function() {
   note = document.getElementById("heklw");
   note.style.display = 'none';
 }, false);
</script>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDomains", ["*.steel-wallet.de","*.steel-wallet.de"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://blockark.innocraft.cloud/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
