<noscript class="noscript"></noscript>
<header id="header">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column is-4" id="Logo-mobile">
        <div class="block--valign">
          <a href="/" class="shift-logo"><img src="img/steel-logo-500.png" alt="STEELWALLET"></a>
        </div>
      </div>
      <div class="column is-8">
        <div class="block--valign">
          <div class="block--valign__bottom header__right">
            <div class="block--valign">
              <nav class="top-nav">
                <ul>
                  <li id="nav3"><a href="/start">How it works</a></li>
                  <li id="nav4"> <a target="_blank" href="https://blog.lopp.net/metal-bitcoin-seed-storage-stress-test--part-ii-/">Read the test</a></li>
                  <li id="nav2"><a href="/shop">Shop</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
