<div class="section--partners">
  <div class="container">
    <section class="partners__inner">
      <div class="inner-wrap--alt">
        <div class="columns">
          <div class="column is-2 partners__left">
            <div class="block--valign">
              <div class="partners__left_inner">
                <p>
                  Our Partners
                </p>
              </div>
            </div>
          </div>
          <div class="column is-10 partners__right">
            <ul class="partners__icons">
              <li><a href="https://www.ethz.ch/en.html" target="_blank"><img src="img/partner-1.png" alt=""></a></li>
              <li><a href="http://bitcoinassociation.ch/members-1" target="_blank"><img src="img/partner-2.png" alt=""></a></li>
              <li><a href="https://www.pwc.ch/en.html" target="_blank"><img src="img/partner-7.png" alt=""></a></li>
              <li><a href="https://validitylabs.org" target="_blank"><img src="img/partner-4.png" alt=""></a></li>
              <li><a href="https://f10.ch" target="_blank"><img src="img/partner-5.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
