---
title: Hardware wallets - BitBox02
layout: default
---
{% include header.html question="Which BitBox02 edition do you want?" description="If you are not sure choose the Multi edition." %}

    <div class="container mt-3">
      <div class="columns">
        <div class="column">
          <div class="card m-2" style="width: auto;  min-height:55vw">
            <div class="p-2">
            <img src="https://shop.shiftcrypto.ch/media/__sized__/products/01_bb02_render-thumbnail-1080x1080.png" class="card-img-top" alt="" style="height:auto;width:auto">
            </div>
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">BitBox02 Multi edition</h3>
              <li class="list-group-item">Bitcoin, Litecoin, Ethereum, ECR-20 tokens</li>
              <li class="list-group-item">U2F support</li>
              <li class="list-group-item">OLED Display</li>
              <li class="list-group-item">MicroSD card backup</li>
              <li class="list-group-item">Discrete design</li>
              <li class="list-group-item">Touch sensors</li>
              <li class="list-group-item">Developed and manufactured in Switzerland</li>
              <li class="list-group-item">99 EUR</li>
              <a href="{{ site.baseurl }}{% link products/bitbox02-multi.html %}" class="btn btn-primary mt-2">Next</a>
            </div>
          </div>
        </div>
        <div class="column" >
          <div class="card m-2" style="width: auto; min-height:55vw">
            <div class="p-2">
              <img src="https://shop.shiftcrypto.ch/media/__sized__/products/01_bb02_B_render-thumbnail-1080x1080.png" class="card-img-top" alt="" style="height:auto">
            </div>
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">BitBox02 Bitcoin-only edition</h3>
              <li class="list-group-item">Bitcoin only</li>
              <li class="list-group-item">Reduced attack surface for Bitcoin-only hodlers</li>
              <li class="list-group-item">OLED Display</li>
              <li class="list-group-item">MicroSD card backup</li>
              <li class="list-group-item">Discrete design</li>
              <li class="list-group-item">Touch sensors</li>
              <li class="list-group-item">Developed and manufactured in Switzerland</li>
              <li class="list-group-item">99 EUR</li>
              <a href="{{ site.baseurl }}{% link products/bitbox02-btc.html %}" class="btn btn-primary  mt-2">Next</a>
            </div>
          </div>
        </div>
      </div>
      {% include bundle.html %}


    </div>
