---
title: Steelwallet
description: Steelwallet is a seed backup tool made of stainless steel that allows you to easily protect your cryptocurrency seed against natural forces such as fire and water.
layout: default
---
{% include header.html question="Do you need a puncher?" %}

    <div class="container mt-3">
      <div class="columns">
        <div class="column">
          <div class="card m-2" style="width: auto;  min-height:50vw">
            <img src="{{ '/img/Metallplatte_003fin_Pen.jpg'  | relative_url }}" class="card-img-top" alt="" style="height:auto">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">Yes</h3>
              <h5 class="card-title">I need a puncher.</h5>
              <li class="list-group-item">+5 EUR</li>
              <a href="{{ site.baseurl }}{% link products/steelwallet-set.html %}" class="btn btn-primary mt-2">Next</a>
            </div>
          </div>
        </div>
        <div class="column" >
          <div class="card m-2" style="width: auto; min-height:50vw">
            <img src="{{ '/img/SW_no_pen.jpg'  | relative_url }}" class="card-img-top" alt="" style="height:auto">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">No</h3>
              <h5 class="card-title">I have a puncher or will get one myself.</h5>
              <li class="list-group-item">+ 0 EUR</li>
              <a href="{{ site.baseurl }}{% link products/steelwallet-sheets.html %}" class="btn btn-primary  mt-2">Next</a>
            </div>
          </div>
        </div>
      </div>
      {% include bundle.html %}


    </div>
