---
title: BitBox02 Multi edition
description: descriptions.multi
layout: default
---
<header style="background-color: #fff">
  <div class="container">
    <div class="row is-gapless">
      {% if page.title != "Blockark" %}
      <button class="btn btn-secondary p-1 m-2" onclick="goBack()">{% t global.back %}</button>
      {% endif %}
      <div class="column p-2"  >
          <h3 style="margin-top:8px"></h3>
      </div>
    </div>
  </div>
</header>

<div class="container mt-3" >
  <div class="columns">
    <div class="column">
      <div class="card mx-auto" style="width:auto;">
      {% include products/bb02_multi.html %}
      </div>
    </div>
  </div>
</div>
