---
title: Steelwallet & BitBox02 bundle
description: descriptions.set
layout: default
---
<header style="background-color: #fff">
  <div class="container">
    <div class="row is-gapless">
      {% if page.title != "Blockark" %}
      <button class="btn btn-secondary p-1 m-2" onclick="goBack()">{% t global.back %}</button>
      {% endif %}
      <div class="column p-2"  >
          <h3 style="margin-top:8px">{% t bundle.edition_question %}</h3>
          <p>{% t bundle.edition_note %}</p>
      </div>
    </div>
  </div>
</header>
<div class="container mt-3">
  <div class="columns">
    <div class="column">
      <div class="card m-2" style="width: auto;">
      {% include products/bundle.html %}
      </div>
    </div>
  </div>
</div>
