---
title: Steelwallet sheets
description: descriptions.sw_sheets
layout: default
---
<header style="background-color: #fff">
  <div class="container">
    <div class="row is-gapless">
      {% if page.title != "Blockark" %}
      <button class="btn btn-secondary p-1 m-2" onclick="goBack()">{% t global.back %}</button>
      {% endif %}
      <div class="column p-2"  >
          <h3 style="margin-top:8px">{% t steelwallet.without_puncher %}</h3>
          <p>{% t steelwallet.sheets_quantity %}</p>
      </div>
    </div>
  </div>
</header>

<div class="container mt-3">
  <div class="columns">
    <div class="column">
      <div class="card" style="width: auto;">
      {% include products/sheets.html %}
      </div>
    </div>
  </div>
</div>
