---
title: Steelwallet set
description: This Steelwallet set contains 2x stainless steel sheets which is enough for 24 seed words plus an automatic puncher.
layout: default
---
{% include header.html question="Sheets with puncher" description="How many do you need? One set is enough to store 24 seed words." %}

    <div class="container mt-3">
      <div class="columns">
        <div class="column">
          <div class="card m-2" style="width: auto;">
          {% include products/set.html %}
          </div>
        </div>
      </div>
    </div>
